.input-label {
    display: block;
    margin: 0.25rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 0.25rem;
}

.add-button {
    margin-left: 0.5rem;
}